.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
	color: floralWhite;
}

#fondoJumboHome {
    background-image: url("../img/3.jpg");
}

#fondoJumboMenu {
    background-image: url("../img/plato1.jpg");
}

.textoBlanco {
    color:white;
}

#jumbo1 {
    background: rgba(0, 0, 0, 0.5);
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: #ec008c;
}